CORS_ALLOW_ALL_ORIGINS=True
ALLOWED_HOSTS=*
DEBUG=True
SECRET_KEY=&5hu^pxls101r1!y%ao@)s$ab#fb^#o_25tckd8r0h4isithik
POSTGRES_DB=medusa_db
POSTGRES_USER=medusa_user
POSTGRES_PASSWORD=medusa123
DB_HOST=db
DB_NAME=POSTGRES_DB
DB_USER=POSTGRES_USER
DB_PASS=POSTGRES_PASSWORD