# .env
CORS_ALLOW_ALL_ORIGINS=1
DEBUG=1
SECRET_KEY=&5hu^pxls101r1!y%ao@)s$
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=

# env.db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=`